<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    #container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        /* border: 1px solid black; */
        background-color: rgb(252, 245, 246);
    }
    
    .header {
        margin: 1rem auto;
        height: auto;
        width: 50%;
        padding: 1rem;
        border-radius: 0.5rem;
        /* border: 1px solid black; */
        position: relative;
        background-color: white;
    }
    
    .header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 10%;
        width: 100%;
        background-color: blueviolet;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    
    .card {
        margin: 1rem auto;
        height: auto;
        width: 50%;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: white;
    }
    
    .headings {
        font-weight: lighter;
        display: block;
        position: relative;
    }
    
    .form-inputs {
        margin: 2rem 0;
        padding: 0.3rem;
        display: block;
        border: none;
        width: 80%;
        border-bottom: 1px solid rgb(114, 110, 110);
        outline: none;
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
        color: black;
        display: inline;
    }
    
    .submit {
        outline: none;
        border: none;
        background-color: rgb(58, 58, 241);
        color: white;
        border-radius: 0.3rem;
        padding: 0.5rem 2rem;
        margin: 1rem 0;
        transition: 0.2s linear;
    }
    
    .submit:hover {
        background-color: rgb(141, 141, 252);
    }
    
    .inline {
        display: inline;
    }
    
    @media screen and (max-width:450px) {
        .header {
            width: 90%;
        }
        .card {
            width: 90%;
        }
        .form-inputs {
            width: 70%;
        }
        .headings {
            font-size: 15px;
        }
    }
</style>

<body>
    <form action="/admin/myForm/edit/<%=data.id%>?_method=PUT" enctype="multipart/form-data" method="POST" id="container">
        <input type="hidden" name="_method" value="PUT">
        <div class="header">
            <h1 style="margin-top: 1rem;">This is a Trial Form</h1>
            <p style="margin-top: 1rem;">The data your clicked its details are displayed below</p>
        </div>
        <div class="card">
            <h2 class="headings">Name of Details Provider</h2>
            <input type="text" value="<%= data.name_personal %>" id="Name-input" name="name_personal" class="form-inputs" placeholder="Your Name">

            <h2 class="headings">Name of Club</h2>
            <input type="text" value="<%= data.name_club %>" id="Email-input" name="name_club" class="form-inputs" placeholder="Your Email">


            <h2 class="headings">Link of Your Club's Official Page</h2>
            <input type="text" value="<%= data.link %>" name="link" id="Contact-input" class="form-inputs" placeholder="Your Contact">


            <h2 class="headings">Clubs Admin Number</h2>
            <input type="tel" value="<%= data.contact %>" name="contact" id="Residence-input" class="form-inputs" placeholder="Your Address">


            <h2 class="headings">Coordinator Names(if any) Space Separated</h2>
            <input type="text" value="<%= data.coordinator_name %>" name="coordinator_name" id="Choice-input" class="form-inputs" placeholder="Your Choice">


            <h2 class="headings">Admin Names Space Separated</h2>
            <input type="text" value="<%= data.admin_name %>" name="admin_name" id="Choice-input" class="form-inputs" placeholder="Your Choice">

            <h2 class="headings" style="display: block;">Provide Description of your club
            </h2>
            <input type="text" value="<%=data.description%>" name="description" placeholder="Tell us briefly about your club..." class="form-inputs"></textarea>

            <h2 class="headings">Edit Logo</h2>
            <img src="<%=data.imgURL%>" style="display: inline; width: 6rem; height: 6rem;" alt="Image Not Found">
            <input type="file" name="File-update" class="form-inputs" style="border: none;">

            <div class="button">
                <input type="submit" value="Edit and Save Detail" class="submit">
            </div>

        </div>
    </form>
</body>

</html>